body, html {
    /* important */
    height: 100%;
    margin: 0;
    padding: 0;
}
.backfixed
{
  min-height:100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
   

.backscroll
{
    min-height: 100%;
}

#top2 
{
    width: 100%;
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    position: relative;
    height: 700px;
    
}
#intro
{
    height:20px;
    overflow:visible;
    position: relative;
    float: left;
    width: 100%;
    z-index:20;

}
#heading
{
    float: left;
    padding-top: 50px;
}
#head
{
    height: 400px;
    float: left;
    width: 100%;
    position: relative;
}

.col-sm-8
{
    text-align: center;
}
#orderingbutton
{
    background-color:crimson  ;
    z-index: 3;
    font-weight: bold;
    padding: 10px;
    margin-top: 130px;
    border: 0;
}
#orderingbutton:hover
{
background-image:none !important;
background-color:rgb(179,100,50)!important;
}
#description
{
    text-align: center;
    padding-bottom: 100px;
}

#empty
{
    background-color: white;
    float: left;
    width: 200%;
    height: 10px;
}
#word
{
    padding: 80px;
     float: left;
    width: 100%;
    height: 300px;
    background: #D6D6D6;
    text-align: center;

}

#word1
{
    width: 100%;
    position:relative;
    text-align: center;
    padding-bottom: 270px;
    top: 120px;

}
#contactusbutton
{
    color: white;
     background-color: black;
    font-weight: bold;
    padding: 10px;
    margin-left:20px;
    border: 0;
}
#title
{
    width: 100%;
    height: 50px;
    text-align: center;
}
#pillarimages
{
     padding-top: 70px;
    background-color: white;
    height: 400px;
    width: 100%;
    /* float: left; */
}

#label1
{
    float: left;
    width: 100%;
    height: 250px;
    background-color: white;
    color: #f1f1f1; /* Grey text */
     position: relative;
    float: left;
}
#aboutusbutton
{
     background-color: black;
    z-index: 3;
    font-weight: bold;
    padding: 10px;
    margin-left: 635px;
    border: 0;
    color: white;
}
#description
{
    text-align: center;
    padding-bottom: 100px;
}
#gallerytable
{
    background-color: white;
    /* float: left; */
    width: 100%;
    height: 400px;
}
#gallerytable1
{
    background-color: white;
     width: 100%;
     /* float: left; */
     height: 400px;
}
#gallery1
{
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-left: 150px;
    background-color: white;
}
#gallery2
{
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-left: 150px;
    padding-bottom: 30px;
    background-color: white;
}
#advantages
{
    height: 400px;
    float:left;
    width:100%;
}
.adva1
{
    background-image:url(aboutus5.PNG);
    width: 100%;
    height: 400px;
    float: left;
    position: fixed;
}

#health
{
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
}

#linksmap
{
    height: 350px;
    width: 100%;
    /* float: left; */
    background-color: #262626;
}
#footerlinks
{
    padding-left: 100px;
}
#footerlinks ul li
{
    font-size: 18px;
    color:#236B8E;
}
#footerlinks ul li a
{
   color: white;
}
#footerlinks ul
{
    margin-top: 20px;
}

#map
{
    margin-left: 30px;
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

#Fcontacts ul li
{
    list-style: none;
}
.fa-envelope
{
    color: white;
}
.fa-phone
{
    color: white;
}
#description1
{
   border-bottom: 2px solid #236B8E;
  
  /* -- reduce the width of the title element to the size of it's content -- */
  display: inline-block;
  
  /* -- add extra length to each side -- */
  padding-left: 50px;
  padding-right: 50px; 
}
#description2
{
   border-bottom: 2px solid #236B8E;
  
  /* -- reduce the width of the title element to the size of it's content -- */
  display: inline-block;
  
  /* -- add extra length to each side -- */
  padding-left: 50px;
  padding-right: 50px; 
}
#description3
{
   border-bottom: 2px solid #236B8E;
  
  /* -- reduce the width of the title element to the size of it's content -- */
  display: inline-block;
  
  /* -- add extra length to each side -- */
  padding-left: 50px;
  padding-right: 50px; 
}
#icons
{
    padding-top: 30px;
    /* float: left; */
    height: 60px;
    width: 100%;
    background-color: #262626;
    position: relative;
}
#icons ul
{
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#icons ul li
{
    background: #000;
    margin: 10px;
    list-style: none;
    font-size: 18px;
    transform:.5s;
}
#icons ul li a
{
    width: 30px;
    display: block;
    color:#ffffff;
}
#icons ul li:hover
{
    transform:translateY(-8px);
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
#icons ul li:nth-child(1)
{
    background: #262626;
}
#icons ul li:nth-child(2)
{
    background: #262626;
}
#icons ul li:nth-child(3)
{
    background: #262626;
}
#icons ul li:nth-child(4)
{
    background: #262626;
}
#icons ul li:nth-child(5)
{
    background: #262626;
}




.imagea {
  position: relative;
  width: 200px;
  height: 200px;

}

.imageb {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF0F5;
}

.imagea:hover .overlay {
  opacity: .9;
}


.textd {

    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: #ffffff;
  font-size: 20px;
  position: absolute;
  background-color: crimson;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



#overflowlinks  a:hover 
{
   color: white;
  border-bottom: 15px solid white;
}

.eventdetails
{
 
    width: 600px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    float: right;
    transform: translate(-50%, -50%);
    
}
#eventtitle
{
    margin-top: 50px;
}
.eventinfo
{
    margin-left: 30px;
    font-weight: bold;
    color: #000;
}
